{% extends 'base.html' %}
{% block content %}

<h1>Items List</h1>
<div class="row">
  <div class="col s12 m 12">
    <input class="search-bar" id="search" type="text" name="query" onkeyup=search(event) placeholder="Search by Name"></input>
  </div>
</div>
<div class="row">
  <div class="col s12 m 12">
    <!-- <input class="filter-bar" id="filter" type="select" name="filter" onchange=filter(event)>
  
    </input> -->
    <select id="filter" onchange=filter(event)>
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row item-list">
{% for item in item_list %}
{% if item.status %}
  <!-- <div class="col s12 m6"> -->
    <div class="card">
        <div class="card-image">
          {% if item.image_url != '' %}
            <a href="{% url 'items_detail' item.id %}">
              <img class="item-image" src="{{ item.image_url }}" alt="Item">
            </a>
          {% else %}
            <a href="{% url 'items_detail' item.id %}">
              <img class="item-image" src="https://placebear.com/g/300/300" alt="Item Placeholder">
            </a>
          {% endif %}
          <!-- <span class="card-title">{{ item.title }}</span> -->
        </div>
        <div class="card-content">
          Author: <a href="{% url 'profile' item.user.id %}">{{ item.user.username | title }}</a>
          <p>Category: {{ item.get_category_display }}</p>
          <p>Votes: {{ item.votes }}</p>
          <a href="{% url 'upvote' item.id %}"><i class="material-icons">thumb_up</i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'downvote' item.id %}"><i class="material-icons">thumb_down</i></a>
        </div>
        <div class="card-action">
          <a href="{% url 'items_detail' item.id %}">
            {{ item.title }}
          </a>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>

<script defer>
  let selectEl = document.getElementById('filter');
  M.FormSelect.init(selectEl);

  function search(event){
    let input = document.getElementById('search').value;
    let query = input.toString().toLowerCase().trim();
    document.querySelectorAll('.card').forEach(item => {
      if(item.lastElementChild.firstElementChild.textContent.toLowerCase().includes(query)){
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });
  }

  function filter(event){
    let input = document.getElementById('filter').value;
    let filterOption = input.toString().toLowerCase();
    document.querySelectorAll('.card').forEach(event => {
      if(item.lastElementChild.firstElementChild.textContent.toLowerCase().includes(filterOption)){
        item.style.display = 'block';
        console.log(item);
      } else {
        item.style.display = 'none';
        console.log(item);
      }
    });
  }
  
</script>
{% endblock %}