{% extends 'base.html' %}
{% block content %}

  <h1>About Trader Joe's Best</h1>
  <hr />
  <p>
    This is a place where you can share your favorite items from Trader Joe's and see 
    how they rank against everyone else's favorites! User's are encourged to share the 
    zipcode where they bought their favorite items so we can all try to find them at 
    our local stores. 
  </p>
  <p>
      Created with care in Oakland, CA
      (Not affiliated with TJ's, just a fan like you)      
  </p>
{% endblock %}