body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding: 0 15px 15px 15px;
  text-align: right;
}

/* .item-image {
  max-height: 200px;
  max-width: 250px;
}  */

.card-image {
  width: 300px;
  /* height: 250px; */
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-list .card {
  width: 40%;
  padding: 20px;
  margin: 30px;
}